@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Angular/LayoutDynamic.cshtml";
}

<script src="~/MyAngular/WithScopeDynamic/withScopeDynamic.js"></script>
<h2>Index</h2>

<div ng-controller="ModalDemoCtrl">
    <h1>{{myCosa}}</h1>
</div>

@*<div ng-controller="AlertDemoCtrl">
      <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
    </div>*@