@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-2.0.3.js"></script>
<script src="~/TypeScripts/MyAjaxTest.js"></script>
<h2>Index</h2>

<a id="clickToStuff" href="javascript:void(0)">Haga Click para hacer una llamada Ajax</a>


<div id="stuffHere"></div>
